<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <meta name="description" content="{{ site.description }}">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
</head>

<body class="bg-light">

    {% include nav.html %}

    {{content}}

    {% include footer.html %}

    <script src="{{ site.url }}/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>